<p id="notice"><%= notice %></p>


<p>
  <strong class="showusername"><%= @user.username %></strong>
</p>

<div class="panel clearfix">
  <p class="left">
    <%= image_tag @user.icon, :class => "usericonshow" %>
  </p>

<p id="about" class="right">
  <strong>About:</strong>
  <%= @user.about %>
</p>

</div>

<p>
  <strong class="blackline">Songs by <%= @user.username %>: </strong>
  <nav>
    <ul  class="small-block-grid-3">
      <% @user.songs.each do |s| %>
      <li><%= link_to "#{s.song_name}", s %> 
        <br>
        <%= link_to image_tag("#{s.song_cover}", :class => "songcover"), s %></li>
        <% end %>
      </ul>
    </nav>

  </p>



  <%= link_to 'Back', users_path, :class => "editback" %>
