<p id="notice"><%= notice %></p>

<p>
  <strong>Icon:</strong>
  <%= image_tag @user.icon, :class => "usericonshow" %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>About:</strong>
  <%= @user.about %>
</p>

<p>
  <strong>Songs:</strong>
  <ul>
    <% @user.songs.each do |s| %>
    <li><%= link_to "#{s.song_name}", s %></li>
    <li><%= image_tag s.song_cover, :class => "songcover"%></li>
    <% end %>
  </ul>

</p>



<%= link_to 'Back', users_path %>
