<p id="notice"><%= notice %></p>

<h1 class="blackline">Songs</h1>


<ul  class="small-block-grid-3">
  <% @songs.each do |song| %>

  
  <li><%= link_to song.user.username, song.user %>
    <br>
    <strong><%= link_to song.song_name, song %></strong>
    <br>
    <%= link_to image_tag("#{song.song_cover}", :class => "songcover")%>
    <br>
    <br>
    <%= link_to 'Edit', edit_song_path(song), :class => "editback" %></td> | <%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' }, :class => "editback" %>
  </li>



  <% end %>
</ul>

