<p id="notice"><%= notice %></p>

<p class="blackline">
  <strong >Song name:</strong>
  <%= @song.try('song_name') %>
</p>

<div class="panel clearfix">

<p id="player">
  <%= image_tag @song.song_cover, :class => "songcovershow" %>
  <audio src="<%= @song.track.url %>" controls></audio>
</p>
</div>
<p class="formcomment">
<%= render partial: 'comments/form', locals: { commentable: @song } %>
</p>



<p>
<strong>Uploaded by:</strong>
<%= @song.user.username %>
</p>

<ul>
 <%= render partial: 'comments/comment', collection: @comments , locals: { commentable: @song } %>
</ul>





<%= link_to 'Edit', edit_song_path(@song), :class => "editback" %>
