<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


</head>

<body>

  <header>


    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">My Site</a></h1>
        </li>
      <div class='login'>
        <% if current_user %>
        <%= current_user.email %> 
        <%= link_to "edit", edit_user_registration_path(current_user) %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        <% else %>
        <%= link_to "Sign In", new_user_session_path %>
        <%= link_to "Register", new_user_registration_path %>
        <% end %>

        
        <%= link_to "Songs", songs_path %>
        <%= link_to "Users", users_path %>
        <%= link_to "New Song", new_song_path %>

        
      </nav>

    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


    <%= yield %>

  </body>
  </html>
