<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "MymusicApp" %></title>

  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


</head>

<body>
  <header>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to " Home", root_path, :class => "fi-star" %></h1>
        </li>
      </ul>
      <section class="top-bar-section">
        <ul class="middle">
          <li><%= link_to " songs", songs_path, :class => "fi-list-thumbnails" %></li>
          <li><%= link_to " users", users_path, :class => "fi-torsos-all" %></li>
          <li><%= link_to " new song", new_song_path, :class => "fi-play-circle" %></li>
        </ul>
        <ul class="right">
          <li id="currentuser">
            <% if current_user %>
            <%= image_tag current_user.icon %></li> 
            <li><%= link_to current_user.username, current_user %></li>
            <li ><%= link_to " edit", edit_user_registration_path(current_user), :class => "fi-crown" %></li>
            <li><%= link_to " logout", destroy_user_session_path, method: :delete, :class => "fi-power" %></li>
            <% else %>
            <li></i><%= link_to " login", new_user_session_path, :class => "fi-key" %></li>
            <li><%= link_to " register", new_user_registration_path, :class => "fi-clipboard-pencil"%></li>
            <% end %>
          </ul>
        </section>
      </nav>
    </header>
    <main>
      <p class="notice"><%#= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <footer>
      Listen to handcrafted music. Share your own tracks online. ©Mysound Inc. 2015
    </footer>

  </body>
  </html>
